body {
  display: grid;
  justify-content: center;
  align-items: center;
  background-color: rgb(48, 180, 233);
  margin: 0;
  padding: 0;
  height: auto;
  /* Vollständige Höhe des Fensters */
}

h1 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
  margin: 0;
  align-self: stretch;
  height: auto;
}

#card-grid {
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  gap: 5px;
  width: 100%;
  /* Vollständige Breite des Gittercontainers */
}

.card {
  background-size: cover;
  background-position: center;
  background-color: #f2f2f2;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  font-weight: bold;
  color: #333;
  width: 80px;
  height: 80px;
  border: 2px solid transparent;
}

.card.matched {
  border: 2px solid green;
}

.card.invisible {
  opacity: 0;
  cursor: default;
}

.card.nomatch {
  border: 2px solid red;
}

.button {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 7px 7px;
  cursor: pointer;
}

.spieler {
  background-color: #5938e9;
  color: white;
  padding: 15px 32px;
  margin: 4px 2px;
  display: inline-block;
  border-radius: 20px;
}

.aktuell {
  background-color: #2f32dd;
  color: white;
  padding: 10px 22px;
  margin: 20px 2px;
  text-align: center;
}

footer {
  text-align: center;
}

footer a {
  background-color: #000000;
  color: rgb(245, 242, 242);
  padding: 5px 22px;
  font-size: 13px;
  cursor: pointer;
  text-decoration: none;
}

.flip {
  animation: flip-animation 0.5s;
}

@keyframes flip-animation {
  from {
    transform: rotateY(0deg);
  }

  to {
    transform: rotateY(180deg);
  }
}

@media (max-width: 768px) {
  .card {
    width: 40px;
    height: 40px;
    font-size: 16px;
  }
}

@media (max-width: 568px) {
  .card {
    width: 20px;
    height: 20px;
    font-size: 8px;
  }
}
