/* Stil für den gesamten Inhalt der Seite */
body {
  font-family: 'Open Sans', sans-serif;
  display: grid;
  justify-content: center;
  align-items: center;
  background-color: rgb(15, 12, 41);
  margin: 0;
  padding: 0;
}

header {
  margin-top: 30px;
  margin-bottom: 20px;
  padding: 5px;
  text-align: center;
}
.container{ 
  max-width: 1000px;
}
#timer {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  color: rgb(255, 255, 255);
  font-size: 20px;
  margin-top: 7px;
}

/* Stil für Überschriften */
h1 {
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  color: white;
  font-size: 32px;
  text-shadow: 2px 2px 4px rgb(53, 41, 102);
  letter-spacing: 2px;
  text-transform: uppercase;
  margin: 0;
}

/* Stil für das Rasterlayout der Karten */
#card-grid {
  display: flex;
  flex-wrap: wrap;
  justify-items: center;
}

/* Stil für einzelne Karten */
.card {
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  transition: transform 0.5s ease;
  background-image: url('coverbild.jpg');
  margin: 5px;
  background-size: cover;
  background-position: center;
  background-color: #504f4f;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 120px;
  height: 120px;
  border: 2px solid transparent;
  font-size: 24px;
  color: white;
}

/* Stil für übereinstimmende Karten */
.card.matched {
  border: 2px solid green;
}

/* Stil für unsichtbare Karten */
.card.invisible {
  opacity: 0;
  cursor: default;
}

/* Stil für nicht übereinstimmende Karten */
.card.nomatch {
  border: 2px solid red;
}

/* Stil für Buttons */
.button {
  background: linear-gradient(to bottom, #682aaa, #2e1965);
  border-color: #020008;
  padding: 15px 32px;
  text-decoration: none;
  font-size: 16px;
  cursor: pointer;
  border-radius: 9px;
  color: #ffffff;
  transform: scale(1);
  transition: transform 0.3s ease-in-out;
}

.button:hover {
  transform: scale(1.2);
  transition: transform 0.3s ease-in-out;
}

/* Stil für den Spielerbereich */
.spieler {
  color: rgb(255, 255, 255);
  padding: 10px 22px;
  display: inline-block;
  border-radius: 20px;
}

/* Stil für den aktuellen Spielstand */
.aktuell {
  color: white;
  padding: 3px;
  text-align: center;
  border-radius: 20px;
}

/* Stil für den Fußbereich */
footer {
  margin-top: 30px;
  text-align: center;
}

/* Stil für Links im Fußbereich */
footer a {
  background-color: #424fb1fc;
  color: rgb(247, 247, 247);
  padding: 5px 22px;
  font-size: 13px;
  cursor: pointer;
  text-decoration: none;
  border-radius: 9px;
}

footer:hover {
  transform: scale(1.1);
  transition: transform 0.3s ease-in-out;
}

/* Animationseffekt für das Kartenumdrehen */
.flip {
  animation: flip-animation 0.5s;
}

/* Keyframes für den Animationseffekt */
@keyframes flip-animation {
  from {
    transform: rotateY(0deg);
  }

  to {
    transform: rotateY(180deg);
  }
}

/* Medienabfrage für Bildschirme mit einer Breite von maximal 1549px */
@media (max-width: 1549px) {
  .card {
    width: 100px;
    height: 100px;
  }
  .button {
    padding: 5px 32px;
    text-decoration: none;
    font-size: 16px;
    margin: 7px 7px;  
  }
}

/* Medienabfrage für Bildschirme mit einer Breite von maximal 1280px */
@media (max-width: 1280px) {
  .card {
    width: 80px;
    height: 80px;
  }
}

/* Medienabfrage für Bildschirme mit einer Breite von maximal 1075px */
@media (max-width: 1075px) {
  .card {
    width: 70px;
    height: 70px;
  }
}

/* Medienabfrage für Bildschirme mit einer Breite von maximal 611px */
@media (max-width: 611px) {
  .card {
    width: 45px;
    height: 45px;
  }

  #timer {
    font-size: 16px;
  }
}
